---
---

@import "code4sa-custom-bootstrap";

$color-white-gray: #f5f5f5;
$color-custom-blue: #539bbe;

.code4sa {
  .navbar-brand img {
    height: 40px;
    margin-top: -10px;
  }

  .navbar a.twitter {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

body {
  background-color: $color-white-gray;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

//== Navbar

.navbar{
  border-top: solid 5px $color-white-gray;

  .navbar-brand-secondary{

    display: inline-block;
    padding-left: 10px;
  }
}

.navbar-inverse {
  background-color: $color-dark-gray;
}

.jumbotron {
  text-shadow: none;
  background-color: $color-white-gray;
  color: $color-dark-gray;
  padding-top: 50px;

  .blue {
    color: $color-custom-blue;
  }

  .red {
    color: $color-red;
  }
}

.slab-dark-gray {
  padding: 20px 40px;
}

.chimney {
  margin-top: -50px;
}

.slab-light-gray {
  color: $color-dark-gray;
    .blue {
      color: $color-custom-blue;
    }
    .red {
      color: $color-red;
    }
}

#content {
  .container.main-content {
      background-color: $color-white-gray;
      color: $color-dark-gray;
      padding: 40px;
      text-align: center;
      h3 {
        color: $color-custom-blue;
        text-align: center;
      }
      .red {
        color: $color-red;
      }
      ul {
        text-align: left;
      }
    }
}

hr {
  margin-bottom: 40px;
}

.foot {
  background-color: $color-dark-gray;
}

iframe {
  body {
    .ss-base-body {
      background-color: $color-white-gray !important;
    }
  }
}
